---
layout: main
metatitle: Back n Forth
metadescription: Esten.co creates unique and impactful digital experiences as an independent contractor based in Canada.
metaimg: meta.jpg

herotagline: This ain't your daddies app
herotitle: The best way to monetize & engage with your audience
herodescription: Donec ac velit nunc. Aliquam id felis quis lorem consequat consequat non id tortor proin in elit malesuada.
heroactiontext: Get started
heroactionlink: #

introimg: canvas-graphic.jpg
introimgalt: Back n Forth app creator image canvas annotation screen
introtitle: Monetize your audience faster, in the way that makes sense
introdescription: Vestibulum elit tortor, mattis sed ultricies eu, porttitor vel felis, duis vitae luctus ante, eget tempor justo, fusce lobortis pellentesque eros eget posuere aliquam pellentesque sit amet massa et scelerisque.
introbackground: blue-background.jpg
introbackgroundalt: Bright purple gradient background

steptitle: How does it work?
steponegraphic: step-1.png
steponegraphicalt: Vestibulum elit tortor, ipsum set ament mattis sed ultricies eu, porttitor vel felis, duis vitae luctus ante.
steponetitle: Create an engagement
steponedescription: Create elit tortor, ipsum set ament mattis sed ultricies eu, porttitor vel felis, duis vitae luctus ante.
steptwographic: step-2.png
steptwographicalt: Vestibulum elit tortor, ipsum set ament mattis sed ultricies eu, porttitor vel felis, duis vitae luctus ante.
steptwotitle: Share it with your audience
steptwodescription: Share elit tortor, ipsum set ament mattis sed ultricies eu, porttitor vel felis, duis vitae luctus ante.
stepthreegraphic: step-3.png
stepthreegraphicalt: Vestibulum elit tortor, ipsum set ament mattis sed ultricies eu, porttitor vel felis, duis vitae luctus ante.
stepthreetitle: Respond to submissions
stepthreedescription: Respond elit tortor, ipsum set ament mattis sed ultricies eu, porttitor vel felis, duis vitae luctus ante.

featurestitle: Key features
featuresonetitle: Flexibility
featuresoneitem1: Anywhere, anytime
featuresoneitem2: Ease, get started in minutes
featuresoneitem3: Build it how you want
featuresoneitem4: Freedom of how you respond
featuresoneitem5: Setup in minutes
featurestwotitle: Intimacy
featurestwoitem1: 1:1 support with your audience
featurestwoitem2: Mutually beneficial
featurestwoitem3: Direct feedback
featurestwoitem4: Give your audience a direct line
featurestwoitem5: Spread 'em
featuresthreetitle: Support
featuresthreeitem1: Affordable for audience
featuresthreeitem2: Fund your work
featuresthreeitem3: Monitize faster & with ease
featuresthreeitem4: Another avenue of funding
featuresthreeitem5: Support your audience
featuresbackground: blue-background.jpg
featuresbackgroundalt: Bright blue gradient background

faqtitle: Frequently asked questions
faqonetitle:  The first question you have for me, no question is a bad question
faqonedescription: One elit tortor, ipsum set ament mattis sed ultricies eu, porttitor vel felis, duis vitae luctus ante.
faqtwotitle: The second question you have for me, no question is a bad question
faqtwodescription: Two elit tortor, ipsum set ament mattis sed ultricies eu, porttitor vel felis, duis vitae luctus ante.
faqthreetitle: The third question you have for me, no question is a bad question
faqthreedescription: Three elit tortor, ipsum set ament mattis sed ultricies eu, porttitor vel felis, duis vitae luctus ante.
faqfourtitle: The fourth question you have for me, no question is a bad question
faqfourdescription: Four elit tortor, ipsum set ament mattis sed ultricies eu, porttitor vel felis, duis vitae luctus ante.
faqfivetitle: The fifth question you have for me, no question is a bad question
faqfivedescription: Five elit tortor, ipsum set ament mattis sed ultricies eu, porttitor vel felis, duis vitae luctus ante.


ctatitle: Get started in minutes
ctadescription: Lorem ipsum elit tortor, ipsum set ament mattis sed ultricies eu, porttitor vel felis, duis vitae luctus ante.
ctaactiontext: Get Started
ctaactionlink: #
ctagraphic: cta-graphic.png
ctagraphicalt: Vestibulum elit tortor, ipsum set ament mattis sed ultricies eu, porttitor vel felis, duis vitae luctus ante.
ctabackground: purple-background.jpg
ctabackgroundalt: Bright purple gradient background
---
<div class="content">
    <!-------Hero------->
    <div class="hero" data-aos="fade-down">
        <div class="wrapper-md">
            <div class="hero-content-container">
                <div class="wrapper-xs centered">
                    <h1 class="title-5xl white">{{ page.herotitle }}</h1>
                    <p class="body-lg white">{{ page.herodescription }}</p>
                    <a class="button-lg" href="{{ page.heroactionlink }}"><span>{{ page.heroactiontext }}</span></a>
                </div>
            </div>
        </div>
    </div>
    <!-------Introduction------->
    <div class="fitted-background introduction" data-aos="fade-down">
        <img class="fitted-image" src="{{ site.baseurl }}/assets/main/{{ page.introbackground }}" alt="{{ page.introbackgroundalt }}" />
            <div class="wrapper-sm hero-graphic-container centered index">
                <img src="{{ site.baseurl }}/assets/main/{{ page.introimg }}" alt="{{ page.introimgalt }}" />
            </div>
            <div class="wrapper-sm grid grid-half gap-md index introduction-content">
                <h2 class="title-3xl white">{{ page.introtitle }}</h2>
                <p class="body-lg white">{{ page.introdescription }}</p>
            </div>
    </div>
    <!-------How It Works------->
    <div class="container-lg how-it-works" data-aos="fade-down">
        <div class="wrapper-md">
            <div class="flex justify-center">
                <h2 class="flex title-3xl white">{{ page.steptitle }}</h2>
            </div>
            <div class="step-divider"></div>
            <div class="grid gap-lg step-1 step-row">
                <div class="step-graphic">
                    <img class="step-graphic-img" src="{{ site.baseurl }}/assets/main/{{ page.steponegraphic }}" alt="{{ page.steponegraphicalt }}" />
                </div>
                <div class="step-number">
                    {% include step1.html %}
                </div>
                <div class="step-content">
                    <h3 class="title-2xl white">{{ page.steponetitle }}</h3>
                    <p class="flex-grow body-lg light">{{ page.steponedescription }}</p>
                </div>
            </div>
            <div class="step-divider"></div>
            <div class="grid gap-lg step-2 step-row">
                <div class="step-graphic">
                    <img class="step-graphic-img" src="{{ site.baseurl }}/assets/main/{{ page.steptwographic }}" alt="{{ page.steptwographicalt }}" />
                </div>
                <div class="step-number">
                    {% include step2.html %}
                </div>
                <div class="step-content">
                    <h3 class="title-2xl white">{{ page.steptwotitle }}</h3>
                    <p class="flex-grow body-lg light">{{ page.steptwodescription }}</p>
                </div>
            </div>
            <div class="step-divider"></div>
            <div class="grid gap-lg step-3 step-row">
                <div class="step-graphic">
                    <img class="step-graphic-img" src="{{ site.baseurl }}/assets/main/{{ page.stepthreegraphic }}" alt="{{ page.stepthreegraphic }}" />
                </div>
                <div class="step-number">
                    {% include step3.html %}
                </div>
                <div class="step-content">
                    <h3 class="title-2xl white">{{ page.stepthreetitle }}</h3>
                    <p class="flex-grow body-lg light">{{ page.stepthreedescription }}</p>
                </div>
            </div>
        </div>
    </div>
    <!-------Features------->
    <div class="features container-lg" data-aos="fade-down">
        <div class="fitted-background">
            <img class="fitted-image" src="{{ site.baseurl }}/assets/main/{{ page.featuresbackground }}" alt="{{ page.featuresbackgroundalt }}" />
            <div class="container-lg">
                <div class="wrapper-md index">
                    <div class="flex justify-center">
                        <h2 class="flex title-3xl white">{{ page.featurestitle }}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper-md index">
            <div class="grid grid-third gap-lg">
                <div class="feature-card">
                    <h3 class="title-xl">{{ page.featuresonetitle }}</h3>
                    <div class="feature-wrapper">
                        <div class="flex gap-2xs">
                            <div class="list-icon">{% include icon-search.html %}</div>
                            <p class="flex-grow body-base">{{ page.featuresoneitem1 }}</p>
                        </div>
                        <div class="flex gap-2xs">
                            <div class="list-icon">{% include icon-folder.html %}</div>
                            <p class="flex-grow body-base">{{ page.featuresoneitem2 }}</p>
                        </div>
                        <div class="flex gap-2xs">
                            <div class="list-icon">{% include icon-bookmark.html %}</div>
                            <p class="flex-grow body-base">{{ page.featuresoneitem3 }}</p>
                        </div>
                        <div class="flex gap-2xs">
                            <div class="list-icon">{% include icon-bookmark.html %}</div>
                            <p class="flex-grow body-base">{{ page.featuresoneitem4 }}</p>
                        </div>
                        <div class="flex gap-2xs">
                            <div class="list-icon">{% include icon-bookmark.html %}</div>
                            <p class="flex-grow body-base">{{ page.featuresoneitem5 }}</p>
                        </div>
                    </div>
                </div>
                <div class="feature-card">
                    <h3 class="title-xl">{{ page.featurestwotitle }}</h3>
                    <div class="feature-wrapper">
                        <div class="flex gap-2xs">
                            <div class="list-icon">{% include icon-search.html %}</div>
                            <p class="flex-grow body-base">{{ page.featurestwoitem1 }}</p>
                        </div>
                        <div class="flex gap-2xs">
                            <div class="list-icon">{% include icon-folder.html %}</div>
                            <p class="flex-grow body-base">{{ page.featurestwoitem2 }}</p>
                        </div>
                        <div class="flex gap-2xs">
                            <div class="list-icon">{% include icon-bookmark.html %}</div>
                            <p class="flex-grow body-base">{{ page.featurestwoitem3 }}</p>
                        </div>
                        <div class="flex gap-2xs">
                            <div class="list-icon">{% include icon-bookmark.html %}</div>
                            <p class="flex-grow body-base">{{ page.featurestwoitem4 }}</p>
                        </div>
                        <div class="flex gap-2xs">
                            <div class="list-icon">{% include icon-bookmark.html %}</div>
                            <p class="flex-grow body-base">{{ page.featurestwoitem5 }}</p>
                        </div>
                    </div>
                </div>
                <div class="feature-card">
                    <h3 class="title-xl">{{ page.featuresthreetitle }}</h3>
                    <div class="feature-wrapper">
                        <div class="flex gap-2xs">
                            <div class="list-icon">{% include icon-search.html %}</div>
                            <p class="flex-grow body-base">{{ page.featuresthreeitem1 }}</p>
                        </div>
                        <div class="flex gap-2xs">
                            <div class="list-icon">{% include icon-folder.html %}</div>
                            <p class="flex-grow body-base">{{ page.featuresthreeitem2 }}</p>
                        </div>
                        <div class="flex gap-2xs">
                            <div class="list-icon">{% include icon-bookmark.html %}</div>
                            <p class="flex-grow body-base">{{ page.featuresthreeitem3 }}</p>
                        </div>
                        <div class="flex gap-2xs">
                            <div class="list-icon">{% include icon-bookmark.html %}</div>
                            <p class="flex-grow body-base">{{ page.featuresthreeitem4 }}</p>
                        </div>
                        <div class="flex gap-2xs">
                            <div class="list-icon">{% include icon-bookmark.html %}</div>
                            <p class="flex-grow body-base">{{ page.featuresthreeitem5 }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-------Frequently Asked Questions------->
    <div class="container-lg faq" data-aos="fade-down">
        <div class="wrapper-sm">
            <div class="flex justify-center">
                <h2 class="flex title-3xl white">{{ page.faqtitle }}</h2>
            </div>
            <div>
                <div class="grid faq-row">
                    <h3 class="title-xl white">{{ page.faqonetitle }}</h3>
                    <p class="body-base white">{{ page.faqonedescription }}</p>
                </div>
                <div class="grid faq-row">
                    <h3 class="title-xl white">{{ page.faqtwotitle }}</h3>
                    <p class="body-base white">{{ page.faqtwodescription }}</p>
                </div>
                <div class="grid faq-row">
                    <h3 class="title-xl white">{{ page.faqthreetitle }}</h3>
                    <p class="body-base white">{{ page.faqfourdescription }}</p>
                </div>
                <div class="grid faq-row">
                    <h3 class="title-xl white">{{ page.faqfourtitle }}</h3>
                    <p class="body-base white">{{ page.faqfourdescription }}</p>
                </div>
                <div class="grid faq-row">
                    <h3 class="title-xl white">{{ page.faqfivetitle }}</h3>
                    <p class="body-base white">{{ page.faqfivedescription }}</p>
                </div>
            </div>
        </div>
    </div>
    <!-------FOOTER------->
    <div class="footer" data-aos="fade-down">
        <div class="container-lg cta fitted-background">
            <img class="fitted-image" src="{{ site.baseurl }}/assets/main/{{ page.ctabackground }}" alt="{{ page.ctabackgroundalt }}" />
            <div class="wrapper-md fitted-background">
                <div class="grid gap-lg cta-row container-lg">
                    <div class="cta-graphic">
                        <img class="step-graphic-img" src="{{ site.baseurl }}/assets/main/{{ page.stepthreegraphic }}" alt="{{ page.stepthreegraphic }}" />
                    </div>
                    <div class="index">
                        <h2 class="title-3xl white">{{ page.ctatitle }}</h2>
                        <p class="body-base white">{{ page.ctadescription }}</p>
                        <a class="button-base dark" href="{{ page.ctaactionlink }}"><span>{{ page.ctaactiontext }}</span></a>
                    </div>
                </div>
            </div>
        </div>
        {% include footer.html %}
    </div>
</div>