<table bgcolor="#2C2D30" style="background-color:#2C2D30;padding:32px 0;" align="center" cellpadding="0" cellspacing="0" width="100%">
    <tbody>
        <tr>
            <td align="center">
                <table cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td align="center" valign="top">
                            	<a target="_blank" href="https://twitter.com/backnforthapp" style="padding:0 4px;">
                            		<img src="{{ site.baseurl }}/assets/email/twitter.png" alt="Twitter Logo" title="Twitter" height="32" style="height:32px;width:auto;">
                            	</a>
                            </td>
                            <td align="center" valign="top">
                            	<a target="_blank" href="https://www.instagram.com/backnforthapp/" style="padding:0 4px;">
                            		<img src="{{ site.baseurl }}/assets/email/instagram.png" alt="Instagram Logo" title="Instagram" height="32" style="height:32px;width:auto;">
                            	</a>
                            </td>
                            <td align="center" valign="top">
                            	<a target="_blank" href="https://www.tiktok.com/@backnforthapp" style="padding:0 4px;">
                            		<img src="{{ site.baseurl }}/assets/email/tiktok.png" alt="Tiktok Logo" title="Tiktok" height="32" style="height:32px;width:auto;">
                            	</a>
                            </td>
                            <td align="center" valign="top">
                            	<a target="_blank" href="https://www.facebook.com/backnforthapp/" style="padding:0 4px;">
                            		<img src="{{ site.baseurl }}/assets/email/facebook.png" alt="Facebook Logo" title="Facebook" height="32" style="height:32px;width:auto;">
                            	</a>
                            </td>
                            <td align="center" valign="top">
                            	<a target="_blank" href="https://www.linkedin.com/company/backnforthapp/" style="padding:0 4px;">
                            		<img src="{{ site.baseurl }}/assets/email/linkedin.png" alt="Linkedin Logo" title="Linkedin" height="32" style="height:32px;width:auto;">
                            	</a>
                            </td>
                            <td align="center" valign="top">
                            	<a target="_blank" href="https://www.youtube.com/@backnforthapp" style="padding:0 4px;">
                            		<img src="{{ site.baseurl }}/assets/email/youtube.png" alt="Youtube Logo" title="Youtube" height="32" style="height:32px;width:auto;">
                            	</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center">
                <p style="font-family:acumin-pro,'Helvetica Neue','Helvetica','Arial',sans-serif;font-size:16px;line-height:150%;color:#8D94A1;">© BacknForth. All rights reserved</p>
            </td>
        </tr>
    </tbody>
</table>