<footer class="wrapper-md flex align-center">
    <div class="footer-container flex flex-grow align-center justify-between">
    	<div class="footer-content">
    		<p class="body-base align-left"><a class="inverse" href="mailto:hello@gobacknforth.com">hello@gobacknforth.com</a></p>
    	</div>
		<div class="flex">
			<a class="iconlink" href="https://twitter.com/backnforthapp" target="_blank">{% include twitter.html %}</a>
			<a class="iconlink" href="https://www.instagram.com/backnforthapp/" target="_blank">{% include instagram.html %}</a>
    		<a class="iconlink" href="https://www.tiktok.com/@backnforthapp" target="_blank">{% include tiktok.html %}</a>
    		<a class="iconlink" href="https://www.facebook.com/backnforthapp/" target="_blank">{% include facebook.html %}</a>
    		<a class="iconlink" href="https://www.linkedin.com/company/backnforthapp/" target="_blank">{% include linkedin.html %}</a>
    		<a class="iconlink" href="https://www.youtube.com/@backnforthapp" target="_blank">{% include youtube.html %}</a>
		</div>
    	<div class="footer-content">
			<p class="body-base align-right">All Rights Reserved &copy; <span id="year"></span></p>
    	</div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script src="{{ site.baseurl }}/js/base.js" type="text/javascript"></script>