.features {
	h2 {
		justify-content: center;
		margin-bottom: $space-lg;
	}
	.fitted-background {
		border-radius: 0px;
	}
	.grid {
		.feature-card {
			background: $neutral-900;
			border-radius: $border-radius-md;
			position: relative;
			z-index: 1;
			box-shadow: $shadow-lg;
			h3 {
				margin: 0px;
				padding: $space-sm $space-sm 0 $space-sm;
				border-radius: $border-radius-md $border-radius-md 0 0;
			}
			.feature-list {
				padding: $space-xs $space-sm $space-sm $space-sm;
				.list-icon {
					svg path {
						stroke: $blue;
					}
				}
				.list-icon, p {
				  margin-top: $space-2xs;
				}
			}
		}
	}
}