.features {
	.fitted-background {
		border-radius: 0px;
		margin-bottom:0;
		.container-lg {
			margin-bottom: $space-4xl;
		}
	}
	.grid {
		margin-top: -$space-4xl;
		.feature-card {
			margin-top:$space-lg;
			background:#fff;
			border-radius: $border-radius-md;
			position:relative;
			z-index:1;
			h3 {
				background: $purple;
			}
			.list-icon, p {
			  margin-top:$space-2xs;
			}
		}
	}
}