.hero {
  .hero-content-container {
    max-width: 800px;
    margin: 0 auto;
    padding: $space-lg 0 $space-3xl 0;
    p {
       max-width:600px;
       margin-left: auto;
       margin-right: auto;
    }
    .button-lg {
      margin-top: $space-2xs;
    }
    .action-tagline {
      padding-top: $space-2xs;
    }
    @include breakpoint-md {
      padding-top: $space-md;
      h1 {
        font-size: $text-4xl;
      }
    }
  }
  &.interior-header {
    .hero-content-container {
      padding: $space-lg 0 $space-lg 0;
    }
  }
}