.hero {
  .hero-content-container {
    padding: $space-lg 0 $space-3xl 0;
    @include breakpoint-md {
      padding-top: $space-md;
    }
    .button-lg {
      margin-top: $space-2xs;
    }
  }
  &.interior-header {
    .hero-content-container {
      padding: $space-lg 0 $space-lg 0;
    }
  }
}