.hero-content-container {
  padding: $space-lg 0 $space-3xl 0;
}
.hero-graphic-container {
  img {
    margin-top: -$space-2xl;
    border-radius: $border-radius-lg;
    @include breakpoint-md {
      border-radius: $border-radius-md;
    }
  }
}