.intro {
  border-radius: 0px;
  overflow:visible;
  .intro-graphic-container {
    img {
      margin-top: -$space-2xl;
      border-radius: $border-radius-lg;
      @include breakpoint-md {
        border-radius: $border-radius-md;
      }
    }
  }
  .intro-content {
    padding-top: $space-sm;
    padding-bottom: $space-2xl;
    @include breakpoint-md {
      grid-gap:0px;
      padding-bottom: $space-lg;
      max-width:600px;
      text-align: center;
    }
    p {
      @include breakpoint-md {
        margin-top: $space-2xs;
      }
    }
  }
}