.introduction {
  border-radius: 0px;
  overflow:visible;
  .introduction-content {
    padding-top: $space-sm;
    padding-bottom: $space-2xl;
    @include breakpoint-md {
      grid-gap:0px;
      padding-bottom: $space-lg;
      max-width:600px;
      text-align: center;
    }
    p {
      @include breakpoint-md {
        margin-top: $space-2xs;
      }
    }
  }
}